streamlit
pandas
numpy
plotly
scipy # Para funções estatísticas, se precisarmos de uma implementação mais robusta do Erlang C
openpyxl # Para ler arquivos .xlsx
holidays # Nova dependência para feriados
xlsxwriter
